.loadingBox{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}
.endOfPage{
    height: 10px;
    width: 100%;
    opacity: 0;
}
.textRegister{
    cursor: pointer;
    color: rgb(58, 58, 236);
    transition: .2s;
}
.textRegister:hover{
    color: blue;
}
.activeNavbarItem{
    background-color: #f1f3f9;
}